body {
font-family: 'Roboto', sans-serif;
position: relative;
width: 1600px;
height: 2346px;

background: #FFFFFF;
}

:root {
--bs-blue:#2196F3;
--bs-dark:#212121;
--bs-approx-grey:#757575;
--bs-ghost-white:#F5F4FA;
--bs-white:#FFFFFF;
}

header {
width: 1600px;
height: 80px;
border-color: #ECECEC;
}

.logo {
position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
text-decoration:none;
}

.web {
color: var(--bs-blue);
}

.studio {
color: #000000;
} 

.header-nav__list {
width: 281px;
height: 16px;
left: 453px;
top: 32px;
list-style-type: none;
}

.header-nav__link {
position: absolute;
width: 45px;
height: 16px;
left: 453px;
top: 32px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
}

.link {
text-decoration:none;
color: var(--bs-dark);
}

.link:hover {
color: var(--bs-blue);
}

.link:focus {
color: var(--bs-blue);
}


.header-nav__list_item {
position: absolute;
width: 72px;
height: 16px;
left: 548px;
top: 32px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--bs-dark);

}

.header-nav__list_item1 {
position: absolute;
width: 64px;
height: 16px;
left: 670px;
top: 32px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--bs-dark);
}

.item {
color: var(--bs-dark);
text-decoration:none;
}

.item:hover {
color: var(--bs-blue);
}

.item:focus {
color: var(--bs-blue);
}



.item1 {
color: var(--bs-dark);
text-decoration:none;
}

.item1:hover {
color: var(--bs-blue);
}
.item1:focus {
color: var(--bs-blue);
}

.active:visited {
    color: var(--bs-blue);  
}


.contact-mail {
position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--bs-approx-grey);
text-decoration:none;
}

.contact-mail:hover {
color: var(--bs-blue);
}
.contact-mail:focus {
color: var(--bs-blue);
}

.contact-tell {
position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px; 
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration:none;
color: var(--bs-approx-grey);
}

.contact-tell:hover {
color: var(--bs-blue);
}

.contact-tell:focus {
color: var(--bs-blue);
    }
/* +++++++++++++++++++ */
.banner {
position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background: #2F303A;
}


.banner-title {
position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 200px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--bs-white);
}

.banner-btn {
position: absolute;
width: 216px;
height: 50px;
left: 692px;
top: 380px;
background: var(--bs-blue);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: var(--bs-white);
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
align-items: center;
text-align: center;
cursor: pointer;
}

.banner-btn:hover {
color: var(--bs-white);
background: #188CE8;
}

.banner-btn:focus {
color: var(--bs-white);
background: #188CE8;

}
/* +++++++++++++++++++ */

.feature {
list-style-type: none;
}

.peculiarities-title {
display: none;
}

.feature1 {
position: absolute;
width: 270px;
height: 98px;
left: 215px;
top: 774px;
}

.feature2 {
position: absolute;
width: 270px;
height: 74px;
left: 515px;
top: 774px;

}

.feature3 {
position: absolute;
width: 270px;
height: 74px;
left: 815px;
top: 774px;

}

.feature4 {
position: absolute;
width: 270px;
height: 98px;
left: 1115px;
top: 774px;
}

.feature1-title, 
.feature2-title, 
.feature3-title,
.feature4-title {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--bs-dark);
}

.feature1-description,
.feature2-description,
.feature3-description,
.feature4-description {
font-family: 'Roboto', sans-serif;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--bs-approx-grey);

}

/* +++++++++++++++++++++++++++ */

.doing {
width: 1170px;
height: 386px;
left: 215px;
top: 966px;

}

.box {
list-style-type: none;
}

.box-title {
position: absolute;
width: 366px;
height: 42px;
left: 617px;
top: 966px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
color: var(--bs-dark);

}

.img-box1 {
position: absolute;
width: 370px;
height: 294px;
left: 215px;
top: 1108px;
}

.img-box2 {
position: absolute;
width: 370px;
height: 294px;
left: 615px;
top: 1108px;
}

.img-box3 {
position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 1108px;

}

/* +++++++++++++++++++++++ */

.team {
position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1446px;
background: var(--bs-ghost-white);
}

.team-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    /* letter-spacing: 0.03em; */
    color: var(--bs-dark);

}
.team-row {
display: flex;
list-style-type: none;
}

.team-card1 {
width: 270px;
height: 368px;
margin-left: 170px;
top: 1632px;
margin-right: 30px;
background: var(--bs-white);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-card2 {
width: 270px;
height: 368px;
left: 515px;
top: 1632px;
margin-right: 30px;
background: var(--bs-white);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-card3 {
width: 270px;
height: 368px;
left: 815px;
top: 1632px;
margin-right: 30px;
background: var(--bs-white);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-card4 {
width: 270px;
height: 368px;
left: 1115px;
top: 1632px;
margin-right: 30px;
background: var(--bs-white);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.name {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: center;
color: var(--bs-dark);

}

.profession {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.2;
text-align: center;
color: var(--bs-approx-grey);

}
/* ++++++++++++++++++++++++++++++ */

footer {
position: absolute;
width: 1600px;
height: 252px;
top: 2094px;
margin-bottom: 94px;
background: #2F303A;
}

.address-container {
margin-top: 30px;
}


.address {
margin-left: 175px; 
list-style-type: none;
font-style: normal;
}

.logo-address {
width: 145px;
height: 31px;
left: 215px;
top: 2154px; 
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.9;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--bs-blue);
text-decoration:none;
margin-left: 215px
}

.studio1 {
color: var(--bs-white);
}

.maps {
width: 231px;
height: 21px;
left: 215px;
top: 2205px; 
font-family: 'Roboto', sans-serif;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--bs-white);
text-decoration:none;
}


.maps:hover {
    color: var(--bs-blue);
    }
    
.maps:focus {
    color: var(--bs-blue);
    }


.address-mail {
width: 231px;
height: 21px;
left: 215px;
top: 2235px;
font-family: 'Roboto', sans-serif;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration:none;
}

.address-mail:hover {
    color: var(--bs-blue);
} 

.address-mail:focus {
    color: var(--bs-blue);
}

.address-tell {
width: 231px;
height: 21px;
left: 215px;
top: 2265px; 
font-family: 'Roboto', sans-serif;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration:none;
}

.address-tell:hover {
color: var(--bs-blue);  
}

.address-tell:focus {
color: var(--bs-blue);
}

/* portfolio */

.body {
position: relative;
width: 1600px;
height: 1880px;
background: #FFFFFF;
}

.portfolio {
width: 1170px;
height: 1360px;
left: 215px;
top: 174px;
}


.portf {
display: none;
}


.btn {
/* position: absolute;
width: 575px;
height: 54px;
left: 512px;
top: 174px; */
list-style-type: none;
}

button:hover,
button:focus {
color: var(--bs-white);
background: var(--bs-blue);

}



button {
border: var(--bs-ghost-white);
background: #F5F4FA;
border-radius: 4px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
color: var(--bs-dark);
cursor: pointer;
}

.btn-active {
position: absolute; 
width: 73px;
height: 38px;
left: 512px;
top: 174px; 


}

.btn1 {
position: absolute; 
width: 125px;
height: 38px;
left: 593px;
top: 174px;

}

.btn2 {
position: absolute; 
width: 112px;
height: 38px;
left: 726px;
top: 174px;

}

.btn3 {
position: absolute;
width: 103px;
height: 38px;
left: 846px;
top: 174px;
} 

.btn4{
position: absolute;
width: 130px;
height: 38px;
left: 957px;
top: 174px;
}



/* project */

.project-row {
list-style-type: none;
}

.project1 {
position: absolute;
width: 370px;
height: 404px;
left: 215px;
top: 262px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.project2 {
position: absolute;
width: 370px;
height: 404px;
left: 615px;
top: 262px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.project3 {
position: absolute;
width: 370px;
height: 404px;
left: 1015px;
top: 262px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.project4 {
position: absolute;
width: 370px;
height: 404px;
left: 215px;
top: 696px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.project5 {
position: absolute;
width: 370px;
height: 404px;
left: 615px;
top: 696px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.project6 {
position: absolute;
width: 370px;
height: 404px;
left: 1015px;
top: 696px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.project7 {
position: absolute;
width: 370px;
height: 404px;
left: 215px;
top: 1130px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.project8 {
position: absolute;
width: 370px;
height: 404px;
left: 615px;
top: 1130px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.project9 {
position: absolute;
width: 370px;
height: 404px;
left: 1015px;
top: 1130px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.name-project {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--bs-dark);
margin: 20px 0px 4px 24px;
}

.profession-project {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: var(--bs-approx-grey);
margin: 4px 0px 0px 24px;
}